* {
	margin: 0;
	padding: 0;
	font-family: 'Darker Grotesque', sans-serif;
	/*text-shadow: 1px 1px 15px #000000;*/
	/*overflow-x: hidden;*/
	box-sizing: border-box; /*hide extra space that consumes the box*/

	/*font-family: 'Roboto', sans-serif;*/
	/*font-family: 'Raleway', sans-serif;*/
	/*font-family: 'Open Sans', sans-serif;*/
	/*Font style from Google Fonts*/
}

html, body {
	width: auto!important; 
	overflow-x: hidden!important;
} 

header {
	width: 100%;
}

nav ul li a{
	display: block;
	/*border: 1px solid;*/
	border-radius: .5em;
	/*padding: .5em 1em;
	margin: .5em;*/
}

nav ul li{
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-weight: bold;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: center;
}

nav ul li a:hover{
	color: white;
}

nav ul li a:active{
	color: darkblue;
}

.support-link {
	color: black;
	font-weight: bolder;
}

.support-link:hover {
	color: gray;
}

.disclaimer-link {
	color: white;
}

.disclaimer-link:hover {
	color: white;
	font-weight: bolder;
}

.fab {
	color: black;
}

.fab:hover {
	color: gray;
	text-decoration: none;
}

.fas {
	color: black;
}

.fas:hover {
	color: gray;
	text-decoration: none;
}

.gallery-link {
	color: black;
	padding-left: 50px;
	padding-right: 50px;
}

.gallery-link:hover {
	color: gray;
	text-decoration: none;
}

.gallery-pic {
	padding-bottom: 27px;
}

.shadow {
	text-shadow: 1px 1px 15px #000000;
}

.card-product {
	width: 22rem;
}

.about-image {
	height: 25%;
	width: auto;
}

.main-line * {
	display: inline-block;
}

.h1-bold {
	font-weight: bolder;
}

.paragraph {
	text-align: justify;
}

.phone-p {
	margin: 0px;
}

.teamtrees-logo {
	height: 300px;
	width: 300px;
	border-radius: 50%;
}

img {
	height: 286px;
}

footer {
	position: relative;
	color: #fff;
	background-color: grey;
	font-size: 14px;
	display: flex;
	justify-content: center;
	list-style: none;
}

footer li{
	display: inline;
	/*margin-right: 1px;*/
}

.lambert-logo {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

/*------ Gallery ------ */
.gallery-section .project-item {
  margin-bottom: 30px;
}

.project-item {
  position: relative;
  overflow: hidden;
}
.project-item img {
  width: 100%;
  display: block;
}
.project-item:hover .project-hover {
  opacity: 1;
  visibility: visible;
  bottom: 0;
}

.project-hover {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  padding: 14px 20px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
.project-hover h4 {
  color: white;
}

.project-pages li {
  display: inline-block;
}
.project-pages a {
  width: 34px;
  height: 34px;
  color: #333333;
  text-align: center;
  line-height: 34px;
  display: block;
  background: #dddddd;
}
.project-pages a:hover {
  background: #5cb48e;
  color: white;
}